#parent{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

#one{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    border: 5px solid wheat;
     
}
#one:hover{
    border-radius: 50px;
    transition: all 1s ease-in-out;
}
#two{
    background-color: aqua;
    width: 100px;
    height: 100px;
    border: 5px solid wheat;
    
}
#two:hover{
    border-radius: 50px;
    transition: all 1s ease-in-out;
}
#three{
    background-color: rgba(107, 133, 124, 0.868);
    width: 100px;
    height: 100px;
    border: 5px solid wheat;
     
}
#three:hover{
    border-radius: 50px;
    transition: all 1s ease-in-out;
}
#four{
    background-color: rgb(255, 187, 127);
    width: 100px;
    height: 100px;
    border: 5px solid wheat;
     
}
#four:hover{
    border-radius: 50px;
    transition: all 1s ease-in-out;
}
#five{
    background-color: rgb(10, 175, 240);
    width: 100px;
    height: 100px;
    border: 5px solid wheat;
     
}
#five:hover{
    border-radius: 50px;
    transition: all 1s ease-in-out;
}
#six{
    background-color: rgb(222, 231, 228);
    width: 100px;
    height: 100px;
    border: 5px solid wheat;
     
}
#six:hover{
    border-radius: 50px;
    transition: all 1s ease-in-out;
}
#seven{
    background-color: rgb(3, 58, 40);
    width: 100px;
    height: 100px;
    border: 5px solid wheat;
     
}
#seven:hover{
    border-radius: 50px;
    transition: all 1s ease-in-out;
}
#eight{
    background-color: rgb(75, 69, 131);
    width: 100px;
    height: 100px;
    border: 5px solid wheat;
     
}
#eight:hover{
    border-radius: 50px;
    transition: all 1s ease-in-out;
}
#nine{
    background-color: rgb(136, 70, 134);
    width: 100px;
    height: 100px;
    border: 5px solid wheat;
     
}
#nine:hover{
    border-radius: 50px;
    transition: all 1s ease-in-out;
}
#ten{
    background-color: rgb(234, 14, 146);
    width: 100px;
    height: 100px;
    border: 5px solid wheat;
    
}
#ten:hover{
    border-radius: 50px;
    transition: all 1s ease-in-out;
}
#eleven{
    background-color: rgb(160, 152, 77);
    width: 100px;
    height: 100px;
    border: 5px solid wheat;
     
}
#eleven:hover{
    border-radius: 50px;
    transition: all 1s ease-in-out;
}
#twelve{
    background-color: rgba(219, 235, 230, 0.503);
    width: 100px;
    height: 100px;
    border: 5px solid wheat;
     
}
#twelve:hover{
    border-radius: 50px;
    transition: all 1s ease-in-out;
}